/* CSS du body */

body {
    background-color: white;
    text-align: justify;
    color: #000000;
    margin: 0%;
    padding: 0%;
    background:url("../background2.jpg") center no-repeat fixed;
    background-size: cover;
}

/* CSS du nav */

nav {
    color: #000000;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0%;
    overflow: hidden;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: #FFFFFF;
    padding: 2vh;
    text-decoration: none;
    width: 120px;
    margin-right: -0.21em;
}

.active {
    background-image: linear-gradient(60deg, #800000, #DC143C);
}

nav li a:hover {
    background-image: linear-gradient(60deg, #800000, #DC143C);
    text-decoration: none;
    color: white;
}

#buttonConnect {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

#buttonConnect:hover {
    background-image: linear-gradient(0deg, black, black);
}

.flex-container {
    display: flex;
    background-color: black;
    justify-content: space-between;
}

.flex-container>div {
    width: 50%;
}

.flex-container>div:first-child {
    width: 20%;
}

.flex-container>div:last-child {
    width: 20%;
}

/* CSS des articles au centre */

.main {
    text-align: justify;
}

.article {
    margin: 5% 25% 5% 25%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2% 3% 2% 3%;
    border-radius: 5px;
    font-weight: bold;
}

h1 {
    font-size: 3vh;
}

/* CSS du Footer */

footer
{
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    padding: 1%;
    margin: 0;
    bottom: 0;
}

/* CSS page 2*/

ul {
    margin:0 auto;
    padding: 0;
    text-align: center;
    width: auto;
}

li {
    display: inline;
    list-style: none;
}